/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0px;
    padding: 0px; 
    border: none; 
    outline: none; 
    text-decoration: none; 
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif; 
}

:root {
    --side-padding: 6.5%; 
    --navbar-height: 130px; 
    --footer-height: 50px; 
    --main-bg-color: hsl(220, 20%, 10%);
    --second-bg-color: hsl(220, 20%, 25%);
    --text-color: white;
    --home-img-color: #8CF4F2; 
    --section-above-color: #CCB0FF; 
    --section-below-color: #B27AD8; 
    
    --purple-color1: #907BFF; 
    --purple-color2: #b37feb; 
    --purple-color3: #9254de; 
    --purple-color4: #531dab; 
    --purple-color5: #3A1F61; 
}

html {
    font-size: 62.5%;
    scroll-padding-top: var(--navbar-height);
    scroll-behavior: smooth; 
}

section {
    max-width: 100vw;
    min-height: calc(100vh - var(--navbar-height)); 
    padding: 4rem var(--side-padding); 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

section .section-title {
    width: 70vw; 
    position: relative;
    text-align: center;
    font-size: 4.5rem;
    font-weight: 500;
    margin-bottom: 3rem;
    padding-bottom: 2rem; 
}

section .section-title::before{ /* The line below the section */
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 19rem; 
    height: 3px;
    background: white;
    transform: translateX(-50%);
}

section .section-title::after{ /* The line below the section */
    position: absolute;
    bottom: -1.3rem;
    left: 50%;
    font-size: 2rem; 
    color: var(--section-above-color);
    background: var(--second-bg-color);
    transform: translateX(-50%);
    padding: 0.5rem;
}

h2 span {
    color: var(--section-below-color);
}

body .btn {
    display: inline-block;
    background-color: var(--purple-color2);
    color: white;
    font-size: 1.75rem;
    font-weight: 500;
    padding: 1rem 2.5rem;  
    margin-top: 2rem;
    border-radius: 0.5rem;
    border: 0.3rem solid var(--purple-color2);
    transition: all 0.3s ease;
    cursor: pointer;
}

body .btn-main-bg-color:hover {
    color: var(--purple-color2); 
    background: var(--main-bg-color);
}

body .btn-second-bg-color:hover {
    color: var(--purple-color2); 
    background: var(--second-bg-color);
}

body .main-bg-color {
    background: var(--main-bg-color); 
    color: var(--text-color);
}

body .second-bg-color {
    background: var(--second-bg-color); 
    color: var(--text-color);
}

body .column-left {
    width: 45%;
}

body .column-right {
    width: 55%;
    padding-left: 2.5rem; 
}

body .column-title {
    font-size: 2.55rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

body .column-description {
    font-size: 1.5rem;
    text-align: justify;
}





/* Header Section  */
.header {
    width: 100vw; 
    padding: 5px var(--side-padding); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; 
    z-index: 99;
    font-family: "Ubuntu", sans-serif;
}

.header.sticky {
    background: radial-gradient(circle, var(--purple-color5), black);
    box-shadow: 0 0px 3rem 1rem var(--purple-color5); 
}

.header .logo {
    width: 120px; 
}

.header .navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .navbar-menu .navbar-item {
    font-size: 2rem;
    font-weight: 500;
    margin-left: 3rem; 
    color: var(--text-color); 
}

.header .navbar-menu .navbar-item:hover {
    color: var(--purple-color2); 
    text-shadow: 0 0 2.5rem white;
}

.header.sticky .navbar-menu .navbar-item:hover {
    color: var(--purple-color1); 
}

.header .navbar-menu .navbar-item span {
    margin-left: 0.2rem; 
}

.header .navbar-icon {
    font-size: 3.5rem; 
    color: var(--text-color); 
    cursor: pointer; 
    display: none;
}





/* Home Section  */
.home {
    width: 100vw; 
    min-height: calc(100svh - var(--navbar-height)); 
    margin-top: var(--navbar-height); 
    padding: 0 var(--side-padding);
    line-height: 1.3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    background-color: var(--main-bg-color);
}

.home .home-content h3 {
    font-size: 3.5rem;
    font-weight: 700; 
}

.home .home-content h3:nth-of-type(2) {
    margin-bottom: 2.5rem;
}

.home .home-content .typing1 {
    color: var(--purple-color2);
}

.home .home-content h1 {
    font-size: 6rem; 
    font-weight: 700;
}

.home .home-img img {
    width: 500px; 
    max-width: 35vw; 
    margin: 5rem; 
    border-radius: 50%; 
    position: relative;
    border: 2px solid var(--home-img-color);
    animation: Glowing 2.5s linear 0.75s infinite alternate;
}

@keyframes Glowing {
    0% {
        box-shadow: 0px 0px 0px 0px var(--home-img-color);
    }

    80% {
        box-shadow: 0px 0px 8rem 1rem var(--purple-color4);
    }

    100% {
        box-shadow: 0px 0px 8rem 1rem var(--purple-color4);
    }
}

.home .home-content .home-btn {
    display: inline-block;
    position: relative;
    padding: 1.5rem 2rem; 
    border-radius: 1rem;
    border: 0.3rem solid var(--purple-color4);
    background-color: var(--main-bg-color);
    color: var(--purple-color1); 
    font-size: 2rem;
    overflow: hidden;
    z-index: 99;
}

.home .home-content .home-btn:hover {
    background-color: var(--purple-color1); 
    border: 0.5rem solid var(--purple-color1);
}

.home .home-content .home-btn::before {
    content: "";
    width: 250%;
    height: 250%;
    background-color: var(--main-bg-color);
    position: absolute;
    top: -75%; 
    left: -75%;
    z-index: -5; 
    background-image: conic-gradient(transparent, var(--purple-color4), transparent 50%);
    animation: Rotate 3.5s linear infinite; 
}

@keyframes Rotate {
    to {
        transform: rotate(360deg);
    }
}

.home  .home-content .home-btn::after {
    content: "";
    position: absolute;
    inset: 0.7rem; 
    background-color: var(--main-bg-color);
    border-radius: 0.3rem;
    z-index: -1;
}





/* About Section */
.about .about-content {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.about .section-title::after{
    content: "Who I Am";
    background: var(--second-bg-color);
}

.about .about-content .column-left .about-photo {
    height: 40rem;
    width: 40rem;
    object-fit: cover;
    border-radius: 10px;
}

.about .about-content .column-right .column-title .typing2 {
    color: var(--purple-color2); 
}





/* Projects Section */
.projects .projects-content {
    width: 95%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 2rem; 
}

.projects .section-title::after {
    background: var(--main-bg-color);
    content: "What I Made";
}

.projects .projects-content .project-card {
    flex-basis: calc(33% - 1rem);
    background: var(--purple-color3);
    text-align: center;
    border-radius: 1rem;
    padding: 1.75rem; 
    cursor: pointer;
    transition: all 0.3s ease;
}

.projects .projects-content .project-card:hover {
    background: var(--purple-color4); 
}

.projects .projects-content .project-card .project-card-container {
    height: clamp(425px, 45vh, 500px); 
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem; 
    transition: all 0.3s ease;
}

.projects .projects-content .project-card:hover .project-card-container {
    transform: scale(1.05);
}

.projects .projects-content .project-card .project-logo {
    font-size: 6rem; 
    color: var(--purple-color4);
    transition: color 0.3s ease;
}

.projects .projects-content .project-card:hover .project-logo {
    color: var(--purple-color3);
}

.projects .projects-content .project-card .project-title {
    font-size: 2rem;
    font-weight: 500;
    margin: 0.5rem 0; 
}

.projects .projects-content .project-card .project-card-body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto; 
}

.projects .projects-content .project-card .project-description {
    font-size: 1.5rem;
}





/* Skills Section */
.skills .skills-content {
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 6rem; 
}

.skills .section-title::after{
    background: var(--second-bg-color);
    content: "What I Know";
}

.skills .skills-content .skills-column {
    width: 50%; 
    display: flex;
    flex-direction: column;
}

.skills .skills-content .skills-column .skills-title {
    font-size: 2.5rem;
    font-weight: 600; 
    margin-bottom: 1rem; 
}

.skills .skills-content .skills-display-box {
    width: 100%; 
    flex-grow: 1;
    position: relative;
    border: 0.2rem solid var(--purple-color1);
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    z-index: 1; 
    overflow: hidden;
}

.skills .skills-content .skills-display-box:hover {
    animation: Shake 0.1s linear;
}

@keyframes Shake {
    25% {
      transform: rotate(2deg);
    }
  
    75% {
      transform: rotate(-2deg);
    }
}

.skills .skills-content .skills-display-box .progress-container {
    width: 100%; 
    padding: 1rem 0; 
}

.skills .skills-content .skills-display-box .progress-item {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills .skills-content .skills-display-box .progress-bar {
    height: 2rem; 
    border-radius: 1rem;
    border: 0.15rem solid var(--purple-color1); 
    padding: 0.5rem;
    margin-bottom: 1.5rem; 
}

.skills .skills-content .skills-display-box .progress-bar span {
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
    background: linear-gradient(to right, var(--purple-color1), white, var(--purple-color2), white, var(--purple-color3));
    position: relative; 
}
    
.skills .skills-content .skills-display-box .progress-bar span::before {
    content: "";
    position: absolute; 
    height: 3px; 
    animation: LightBeam 3s ease-in infinite alternate; 
}

@keyframes LightBeam {
    0% {
        width: 0; 
        box-shadow: 0px 0px 0px 0px var(--purple-color1); 
    }

    70% {
        width: 100%; 
        opacity: 0.65; 
        box-shadow: 0px 0px 1rem 0.5rem var(--home-img-color);
    }

    100% {
        width: 100%; 
        opacity: 0.65; 
        box-shadow: 0px 0px 1rem 0.5rem var(--home-img-color);
    } 
}

.skills .skills-column1 .html-container .progress-bar span {
    width: 90%; 
}

.skills .skills-column1 .css-container .progress-bar span {
    width: 95%; 
}

.skills .skills-column1 .js-container .progress-bar span {
    width: 75%; 
}

.skills .skills-column1 .ts-container .progress-bar span {
    width: 30%; 
}

.skills .skills-column1 .react-container .progress-bar span {
    width: 25%; 
}

.skills .skills-column2 .node-container .progress-bar span {
    width: 25%; 
}

.skills .skills-column2 .c-container .progress-bar span {
    width: 65%; 
}

.skills .skills-column2 .java-container .progress-bar span {
    width: 45%; 
}

.skills .skills-column2 .sql-container .progress-bar span {
    width: 70%; 
}

.skills .skills-column2 .r-container .progress-bar span {
    width: 80%; 
}





/* Shop Section */
.shop .shop-content {
    width: 100%;
    min-height: 500px; 
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.shop .section-title::after {
    content: "What I Sell";
    background: var(--main-bg-color);
}

.shop .shop-content .shop-items-container {
    width: 100%; 
    flex-grow: 1;
    position: relative;
}

.shop .shop-content .shop-items {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start; 
    color: black; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
}

.shop .shop-content .shop-item {
    width: min(300px, 20vw); 
    height: max(350px, 50vh); 
    padding-bottom: 0.5rem; 
    margin-right: 2.2rem; 
    border-radius: 1rem; 
    text-align: center;
    position: relative; 
    background-color: white; 
    border-right: 5px solid black; 
    border-bottom: 5px solid black; 
    animation: GlowingShopItems 2s linear infinite alternate;
    transition: all 0.3s ease; 
    overflow: hidden;
}

@keyframes GlowingShopItems {
    0% {
        box-shadow: 0px 0px 0px 0px var(--home-img-color);
    }

    80% {
        box-shadow: 0px 0px 1rem 0.5rem var(--purple-color3);
    }

    100% {
        box-shadow: 0px 0px 1rem 0.5rem var(--purple-color3);
    }
}

.shop .shop-content .shop-item:hover img {
    transform: scale(1.05);
}

.shop .shop-content .shop-item .new-tag, 
.shop .shop-content .shop-item .brand-new-tag, 
.shop .shop-content .shop-item .status-tag, 
.shop .shop-content .shop-item .sold-tag {
    position: absolute; 
    top: 4%; 
    font-size: 1.4rem; 
    font-weight: 500;
    font-style: italic;
    padding: 0.5rem; 
    padding-right: 0.70rem; 
    border-radius: 0.25rem;
    color: var(--text-color); 
    z-index: 5; 
}

.shop .shop-content .shop-item .new-tag {
    left: 4%; 
    background-color: #f5222d;
}

.shop .shop-content .shop-item .brand-new-tag {
    left: 4%; 
    background-color: #389e0d;
}

.shop .shop-content .shop-item .status-tag {
    right: 4%; 
    background-color: #f5222d;
}

.shop .shop-content .shop-item .sold-tag {
    right: 4%; 
    background-color: #08979c;
}

.shop .shop-content .shop-img-container {
    width: 100%; 
    height: 70%; 
    padding: 1rem; 
    border-top-left-radius: 1rem; 
    border-top-right-radius: 1rem; 
    border-bottom: 3px solid black; 
    margin-bottom: 1.5rem; 
}

.shop .shop-content .shop-item img {
    display: block;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    border-radius: 1rem;
}

.shop .shop-content .shop-item .shop-item-description {
    height: 22.5%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop .shop-content .shop-item .shop-item-title {
    font-size: 2rem;  
    font-weight: 600;
}

.shop .shop-content .shop-item .shop-item-subtitle {
    font-size: 1.5rem; 
    margin-bottom: 1rem; 
}

.shop .shop-content .shop-item .shop-item-price-container {
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; 
}

.shop .shop-content .shop-item .discount-price {
    font-size: 1.8rem;
    font-weight: 600;
    color: #f5222d;
}

.shop .shop-content .shop-item .original-price {
    font-size: 1.5rem; 
    font-weight: 600;
    text-decoration: line-through;
}

.shop .shop-content .shop-item .buy-icon {
    display: flex; 
    padding: 0.5rem; 
    border-radius: 0.25rem 0.25rem 0.75rem 0.25rem;
    position: absolute; 
    bottom: 0; 
    right: -10rem; 
    font-size: 3rem; 
    color: black; 
}

.shop .shop-content .shop-item:hover .buy-icon {
    right: 4%; 
}

.shop .shop-content .shop-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem; 
}

.shop .shop-content .shop-btn-container .shop-btn {
    display: inline-block;
    width: 50px; 
    height: 50px; 
    font-size: 1.75rem;
    font-weight: 500;
    color: white;
    background-color: var(--purple-color2);
    border-radius: 50%;
    border: 0.3rem solid var(--purple-color2);
    transition: all 0.3s ease;
    cursor: pointer;
}

.shop .shop-content .shop-btn-container .shop-btn:hover {
    color: var(--purple-color2); 
    background: var(--main-bg-color);
}

.shop .shop-content .shop-btn-container .btn {
    align-self: center;
}





/* Contact Section */
.contact {
    min-height: calc(100vh - var(--navbar-height) - var(--footer-height)); 
}

.contact .contact-content {
    width: 95%; 
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-grow: 1; 
}

.contact .section-title::after{
    background: var(--second-bg-color);
    content: "Get in Touch";
}

.contact .contact-content .column-left {
    height: 35rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 7rem; 
}

.contact .contact-content .contact-info-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 7rem; 
}

.contact .contact-content .contact-info-row i {
    font-size: 3rem;
    color: var(--purple-color2);
}

.contact .contact-content .contact-info-row .contact-info-item { 
    margin-left: 2rem; 
    font-size: 1.5rem; 
}

.contact .contact-content .contact-info-item .contact-info-item-title {
    font-weight: 600;   
}

.contact .contact-content .column-right {
    height: 35rem; 
    margin-left: 3rem; 
}

.contact .column-right form .fields { 
    width: 100%; 
    display: flex;
}

.contact .column-right form .fields .field,
.contact .column-right form .field {
    height: 5rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.contact .column-right form .textarea {
    height: 10rem;
    width: 100%;
}

.contact .column-right form .name {
    margin-right: 1rem;
}

.contact .column-right form .field input,
.contact .column-right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 0.3rem solid white;
    border-radius: 0.5rem;
    padding: 0 1.5rem;
    font-size: 1.75rem;
    transition: all 0.3s ease; 
}

.contact .column-right form .field input:focus,
.contact .column-right form .textarea textarea:focus{
    border: 0.3rem solid var(--purple-color2); 
}

.contact .column-right form .textarea textarea {
  padding-top: 1rem; 
  resize: none;
}

.contact .column-right form .field label[for] {
    display: none;
}

.contact .column-right .btn {
    margin-top: 0; 
}





/* Footer Section */
footer{
    background: white;
    padding: 13.5px 20px;
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Ubuntu", sans-serif;
}
footer #laptop span {
    color: var(--purple-color4); 
}

footer #laptop span:hover {
    text-decoration: underline;
    cursor: pointer;
}

footer #phone {
    display: none;
}





/* Responsive Media Query */
@media (min-width:1600px) {
    html {
        font-size: 70%; 
    }
}

@media (min-width:1800px) {
    :root {
        --footer-height: 100px;
        --navbar-height: 165px;  
    }

    html {
        font-size: 80%; 
    }

    .header .logo {
        width: 155px; 
    }

    .projects .projects-content .project-card .project-card-container {
        height: clamp(525px, 30vmax, 700px); 
    }

    .shop .shop-content .shop-item {
        width: max(300px, 20vw); 
    }

}

@media (min-width:2000px) {
    html {
        font-size: 90%; 
    }
}

@media (min-width:2200px) {
    :root {
        --footer-height: 150px;
        --navbar-height: 200px;  
    }

    html {
        font-size: 100%; 
    }

    .header .logo {
        width: 190px; 
    }
}

@media (max-width:1350px) {
    .header .navbar-menu .navbar-item span {
        display: none;
    }
}

@media (max-width:1300px) {
    html {
        font-size: 60%; 
    }
}

@media (max-width:1200px) {
    html {
        font-size: 55%; 
    }
}

@media (max-width:1100px) {
    html {
        font-size: 50%; 
    }
}

@media (max-width:1000px) {
    :root {
        --side-padding: 5%; 
    }

    .about .about-content .column-title {
        font-size: 2.35rem;
    }
    
    .about .about-content .column-description {
        font-size: 1.45rem;
    }

    .shop .shop-content .shop-item {
        width: min(275px, 25vw); 
    }
}

@media (max-height:700px) {
    :root {
        --navbar-height: 100px; 
    }

    .header .logo {
        width: 90px; 
    }

    .projects .projects-content .project-card .project-card-container {
        height: clamp(375px, 40vmax, 425px); 
        padding: 0.5rem; 
    }
}

@media (max-width: 900px), (orientation: portrait) {
    :root {
        --side-padding: 7%; 
    }

    html {
        font-size: 62.5%;
    }

    section {
        min-height: max(80vmax, calc(100vh - var(--navbar-height))); 
    }

    .header .navbar-icon {
        display: block;
        z-index: 999; 
    }

    .header .navbar-menu {
        width: 100vw; 
        height: 100vh; 
        padding: 5rem 2rem 6rem; 
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        top: 0; 
        left: -100vw; 
        background-color: black;
        transition: all 0.3s ease; 
        transition-delay: 0.3s; 
        z-index: 99; 
    }

    .header .navbar-menu.active {
        left: 50%; 
        transform: translate(-50%);
    }

    .header .navbar-menu.active .navbar-item {
        margin: 0; 
    }

    .header .navbar-menu .navbar-item span {
        display: initial;
    }

    .home {
        padding: 0 var(--side-padding) calc(var(--navbar-height) - 5rem);
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }

    .home .home-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home .home-img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    .home .home-img img {
        width: 400px; 
        max-width: min(35vmax, 55vmin); 
    }

    .about .about-content {
        display: flex; 
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .about .about-content .about-photo {
        margin-bottom: 3rem; 
    }

    .about .about-content .column-title {
        font-size: 2.7rem;
    }
    
    .about .about-content .column-description {
        font-size: 1.5rem;
    }

    .about .about-content .column-left {
        width: 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about .about-content .column-right {
        width: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: flex-start;
        padding: 0;
    }

    .about .about-content .btn {
        margin-top: 3rem; 
        align-self: center;
    }

    .projects .projects-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .projects .projects-content .project-card .project-card-container {
        height: clamp(300px, 40vmax, 350px); 
        padding: 0.5rem; 
    }

    .projects .projects-content .project-card:nth-of-type(2) {
        order: 3; 
    }

    .projects .projects-content .project-card:nth-of-type(3) {
        order: 2; 
    }
    
    .skills .skills-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem; 
    }

    .skills .skills-content .skills-column {
        width: 85%; 
    }

    .shop .shop-content .shop-item {
        width: min(275px, 60vw); 
    }

    .contact .contact-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .contact .contact-content .column-left {
        width: 100%; 
        height: 30rem;
        padding-right: 0; 
        padding-bottom: 3rem; 
        justify-content: space-evenly;
    }

    .contact .contact-content .column-left .column-title {
        display: none;
    }

    .contact .contact-content .column-right {
        width: 100%; 
        height: 35rem; 
        margin: 0; 
        padding: 0;
    }

    .contact .column-right form {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: flex-start;
    }

    .contact .contact-content .column-right .btn {
        margin-top: 1rem; 
        align-self: center;
    }
}

 @media (max-width: 600px) {
    :root {
        --side-padding: 5%; 
        --footer-height: 75px; 
    }

    html {
        font-size: clamp(7.5px, 1vmax, 10px); 
    }

    .projects .projects-content .project-card .project-card-container {
        height: clamp(275px, 35vmax, 300px); 
    }

    .shop .shop-content .shop-item {
        width: min(275px, 60vw); 
    }
    
    footer {
        line-height: 175%;
    }

    footer #phone {
        display: inline;
    }

    footer #phone span {
        color: var(--purple-color4); 
    }

    footer #phone span:hover {
        cursor: pointer;
    }
    footer #laptop {
        display: none;
    }
} 

@media (max-width: 430px) {
    :root {
        --navbar-height: 100px; 
    }

    .header .logo {
        width: 90px; 
    }

    .home {
        padding: 0 var(--side-padding) 10svh;
    }

    .home .home-content h1 {
        font-size: 5rem; 
    }

    .home .home-content h3 {
        font-size: 2.9rem;
    }

    .projects .projects-content .project-card .project-card-container {
        height: clamp(350px, 35vmax, 375px); 
    }

    .shop .shop-content .shop-item {
        width: min(220px, 60vw); 
    }
}

@media (max-width: 375px) {

}